# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOST=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.development

# Database
# DATABASE_URL=postgresql://user:password@host:5432/dbname

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe
STRIPE_SECRET_KEY=sk_live_XXXXXXXXXX
STRIPE_PUBLISHABLE_KEY=pk_live_XXXXXXXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXX
STRIPE_PRICE_MONTHLY=price_XXXXXXXXXX
STRIPE_PRICE_ANNUAL=price_XXXXXXXXXX

# CORS / Frontend
FRONTEND_URL=https://thesoapmaker.vercel.app

# Social OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
